body {
  font-family: "Kumbh Sans, sans-serif";
  padding: 0;
  margin: 0;
}

nav {
  background-color: white;
  color: black;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.FallLimitedEditionSneakers {
  display: flex;
  align-items: center;
  border-bottom: 2px solid orange;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 500px;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.sliderItem {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sliderTitle {
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 60px;
  font-weight: 50;
  text-align: center;
}
